RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^about  about.php [NC,L]
RewriteRule ^about/  about.php [NC,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} -f 
RewriteRule ^css 404 [NC]
RewriteRule ^css. 404

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.inc.php -f
RewriteRule ^404  404.inc.php [NC]
RewriteRule ^404.  404.inc.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^services  services.php [NC]
RewriteRule ^services.  services.php




