RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/.php !-f
RewriteRule ^home index.php [NC,L] 
RewriteRule ^home. index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/.php !-f
RewriteRule ^home?ne index.php?ne [NC,L] 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^about about.php [NC]
RewriteRule ^about. about.php  
